{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'add_pd.css' %}">
<link rel="stylesheet" href="{% static 'responsive.css' %}">
<div class="form-box">
    <h2>XÁC NHẬN XOÁ</h2>

    <p>Bạn có chắc muốn xoá sản phẩm <b>{{ product.name }}</b> không?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Xoá</button>
    </form>

    <a href="{% url 'store:admin_product' %}" class="back-link">⬅ Huỷ</a>
</div>