{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'delete_cf.css' %}">
<link rel="stylesheet" href="{% static 'responsive.css' %}">
<div class="delete-box">
    <h2>XÓA CHI NHÁNH</h2>

    <p>Bạn có chắc muốn xoá <b>{{ cafe.name }}</b> không?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="delete-btn">Xoá</button>
    </form>

    <a href="{% url 'store:admin_dashboard' %}" class="cancel-link">Huỷ</a>
</div>