{% load static %}
<link rel="stylesheet" href="{% static 'store/add_pd.css' %}">

<form method="POST" enctype="multipart/form-data" class="form-box">
    <h2>SỬA SẢN PHẨM</h2>
    {% csrf_token %}

    <label>Chọn quán:</label>
    {{ form.cafe }}

    <label>Tên sản phẩm:</label>
    {{ form.name }}

    <label>Mô tả:</label>
    {{ form.description }}

    <label>Giá:</label>
    {{ form.price }}

    <label>Ảnh:</label>
    {{ form.image }}

    <!-- preview ảnh cũ -->
    {% if product.image %}
        <img src="{{ product.image.url }}" width="150" style="margin-top:10px;">
    {% endif %}

    <button type="submit">Cập nhật</button>
    <a href="{% url 'store:admin_product' %}" class="back-link">⬅ Quay lại</a>
</form>