{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>CoffeeGIS - KATINAT - Chi nhánh</title>
    <link rel="stylesheet" href="{% static 'store/list.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'admin/images/logo-katinat.webp' %}">
</head>
<body>
<!-- HEADER -->
<header class="topbar">
    <a href="/store/" class="logo-link">
        <div class="logo">
            <img src="{% static 'admin/images/logo-katinat.webp' %}" class="logo-icon">
            KATINAT CoffeeGIS
        </div>
    </a>
    <nav>
        <a href="/store/">Trang chủ</a>
        <a href="/store/list/">Chi nhánh</a>
        <a href="{% url 'maps:map' %}">Bản đồ</a>
    </nav>
</header>


<h2 class="page-title"></h2>

<div class="cafe-list">
{% for c in cafes %}
    <div class="cafe-card">
        <h3>{{ c.name }}</h3>
        <p>{{ c.address }}</p>
        <a href="{% url 'store:book_form' c.id %}" class="btn-book">Đặt chỗ</a>
    </div>
{% endfor %}
</div>

<a href="{% url 'store:dashboard' %}" class="back-link">⬅ Quay lại</a>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer-bottom">
        © 2026 CoffeeGIS | LAP TRINH GIS | THANH - THI - THU.
    </div>
</footer>
</body>
</html>