{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<form method="POST">
    {% csrf_token %}
    <h2>Đổi mật khẩu</h2>

    <!-- MẬT KHẨU HIỆN TẠI -->
    <div class="password-box">
        <input type="password" name="old_password" id="old_password" placeholder="Mật khẩu hiện tại">
        <span onclick="togglePassword('old_password', this)">👁</span>
    </div>

    <!-- MẬT KHẨU MỚI -->
    <div class="password-box">
        <input type="password" name="new_password" id="password1" placeholder="Mật khẩu mới">
        <span onclick="togglePassword('password1', this)">👁</span>
    </div>

    <!-- NHẬP LẠI -->
    <div class="password-box">
        <input type="password" name="confirm_password" id="password2" placeholder="Nhập lại mật khẩu">
        <span onclick="togglePassword('password2', this)">👁</span>
    </div>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <button type="submit">Đổi mật khẩu</button>
</form>

<script>
function togglePassword(id, el) {
    const input = document.getElementById(id);
    if (input.type === "password") {
        input.type = "text";
        el.textContent = "🙈";
    } else {
        input.type = "password";
        el.textContent = "👁";
    }
}
</script>