{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>CoffeeGIS - KATINAT</title>
    <link rel="stylesheet" href="{% static 'store/cf_style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'admin/images/logo-katinat.webp' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

<header class="topbar">
    <a href="/store/" class="logo-link">
        <div class="logo">
            <img src="{% static 'admin/images/logo-katinat.webp' %}" class="logo-icon">
            KATINAT Coffee
        </div>
    </a>

    <nav class="menu">
        <a href="/store/" class="{% if request.path == '/store/' %}active{% endif %}">
            Trang chủ
        </a>
        <a href="{% url 'store:product_list' %}">Sản phẩm</a>
        <a href="/store/list/">Chi nhánh</a>
        <a href="/">Bản đồ</a>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'store:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="login-btn">Đăng xuất</button>
            </form>
        {% else %}
            <a href="{% url 'store:login' %}" class="login-btn">Đăng nhập</a>
        {% endif %}
    </nav>
</header>

<section class="gallery">
    <img src="{% static 'admin/images/katinat-nen.webp' %}" alt="Katinat">
</section>

<section class="featured">
    <p class="subtitle">Gợi ý từ Katinat</p>
    <h2>Sản phẩm <span>nổi bật</span></h2>

    <div class="product-grid">

        <div class="product-card">
            <img src="{% static 'admin/images/olong-ba-la.jpg' %}" alt="">
            <h3>Trà Olong Ba Lá</h3>
            <p>Đậm đà - Sang trọng</p>
            <a href="{% url 'store:product_detail' 1 %}" class="btn-detail">
                Xem chi tiết
            </a>
        </div>

        <div class="product-card">
            <img src="{% static 'admin/images/ts-chom-chom.jpg' %}" width="300">
            <h3>Trà sữa Chôm Chôm</h3>
            <p>Ngọt ngào - Thanh mát</p>
            <a href="{% url 'store:product_detail' 2 %}" class="btn-detail">
                Xem chi tiết
            </a>
        </div>

        <div class="product-card">
            <img src="{% static 'admin/images/ts-hong-dran.jpg' %}" alt="">
            <h3>Trà sữa Hồng D'ran</h3>
            <p>Cổ điển - Nồng nàn</p>
            <a href="{% url 'store:product_detail' 3 %}" class="btn-detail">
                Xem chi tiết
            </a>
        </div>

    </div>
</section>

<section class="map-preview">
    <h2>Khám phá bản đồ Katinat</h2>
    <div id="map-home"></div>

    <a href="/" class="btn-map">Xem bản đồ đầy đủ</a>
</section>

<section class="hero">
    <p class="small">TÌM QUÁN KATINAT</p>
    <h1>Chọn <span>không gian</span> phù hợp</h1>
    <a href="/store/list/" class="btn-view">XEM DANH SÁCH CHI NHÁNH</a>
</section>

<section class="story">
    <p class="subtitle">Một chút về</p>
    <h2>KATINAT <span>Story</span></h2>
    <p class="desc">
        Tại Katinat, chúng tôi không chỉ bán cà phê, mà còn nâng niu những giá trị văn hóa vượt thời gian. Lấy cảm hứng từ con đường Catinat hào hoa một thuở, chúng tôi tái hiện một Sài Gòn xưa tinh tế giữa nhịp sống đương đại. Mỗi không gian đều được chúng tôi chăm chút để trở thành điểm chạm của cảm xúc, nơi quá khứ và hiện tại cùng giao thoa.
        
        Chúng tôi tin rằng giá trị thực sự nằm ở sự tận tâm, từ hương vị đậm đà trong từng tách ly đến những khoảng lặng bình yên giữa lòng phố thị. Katinat chính là tâm huyết của chúng tôi trong việc gìn giữ di sản và kết nối những tâm hồn đồng điệu. Với chúng tôi, mỗi khách hàng ghé thăm là một hành trình viết tiếp những kỷ niệm đẹp đầy kiêu hãnh.
    </p>
</section>

<footer class="footer">
    <div class="footer-container">

        <div class="footer-logo">
            <img src="{% static 'admin/images/cua-hang-katinat.jpg' %}" alt="Katinat">
        </div>

        <div class="footer-col">
            <h3>LIÊN HỆ</h3>
            <p>Email: cs@katinat.vn</p>
            <p>Trụ sở chính: 96-98-100 Trần Nguyên Đán, Phường 3, Bình Thạnh, TP.HCM</p>
            <p>CN Hà Nội: Số 11, Ngõ 84, Phố Ngọc Khánh, Giảng Võ, Ba Đình, Hà Nội</p>
            <p>Hotline: (028) 7300 1009</p>
        </div>

        <div class="footer-col">
            <h3>VỀ CHÚNG TÔI</h3>
            <p>
                Katinat Coffee & Tea House là chuỗi cà phê lấy cảm hứng từ
                văn hoá Sài Gòn xưa, kết hợp phong cách hiện đại và tinh tế.
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        © 2026 CoffeeGIS | LAP TRINH GIS | THANH - THI - THU.
    </div>
</footer>
<script id="data-cafe" type="application/json">
[
{% for c in cafes %}
    {
        "name": "{{ c.name }}",
        "lat": {{ c.latitude }},
        "lng": {{ c.longitude }}
    }{% if not forloop.last %},{% endif %}
{% endfor %}
]
</script>
<script>
var map = L.map('map-home').setView([10.8, 106.7], 12);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
}).addTo(map);

var cafes = JSON.parse(document.getElementById('data-cafe').textContent);

cafes.forEach(function(cafe) {
    L.marker([cafe.lat, cafe.lng])
        .addTo(map)
        .bindPopup(cafe.name);
});
</script>
</body>
</html>