/* ===== PAGE ===== */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #f6f1ea, #fdfaf6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

/* ===== BOX ===== */
.delete-box {
    background: #fff;
    padding: 30px 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
    width: 350px;
}

/* TITLE */
.delete-box h2 {
    color: #e74c3c;
    margin-bottom: 15px;
}

/* TEXT */
.delete-box p {
    margin-bottom: 20px;
    font-size: 16px;
}

/* BUTTON DELETE */
.delete-btn {
    width: 100%;
    padding: 12px;
    background: #e74c3c;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #c0392b;
    transform: scale(1.03);
}

/* CANCEL */
.cancel-link {
    display: inline-block;
    color: #555;
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
}

.cancel-link:hover {
    color: #c89b6d;
}