body{
    margin: 0;
    font-family: 'Playfair Display', serif;;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("/static/admin/images/cafe-bg.jpg") center/cover no-repeat;
}

/* ===== FORM ===== */
.form-box{
    max-width: 900px;
    width: 95%;
    margin: 60px auto;
    background: #fff;
    padding: 35px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* ===== TITLE ===== */
h2{
    text-align: center;
    margin-bottom: 25px;
    color: #2c2c2c;
    font-size: 28px;
    font-weight: 700;
}

/* ===== LABEL ===== */
label{
    font-weight: 600;
    color: #444;
    display: block;
    margin-top: 10px;
}

/* ===== INPUT ===== */
input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* textarea cao hơn */
textarea{
    min-height: 100px;
}

/* ===== BUTTON ===== */
button{
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #c89b6d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

button:hover{
    background: #e6b980;
    transform: translateY(-2px);
}

/* ===== BACK ===== */
.back-link{
    display: block;
    text-align: center;
    margin-top: 12px;
    text-decoration: none;
    color: #5a3e2b;
    font-weight: bold;
}

.back-link:hover{
    color: #cfa36a;
}

#preview-container {
    margin-top: 10px;
}

.preview-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #ddd;
}