<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>KATINAT CoffeeGIS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/responsive.css' %}">
</head>
<body>

<header class="topbar">
    <a href="/store/" class="logo-link">
        <div class="logo">
            <img src="{% static 'admin/images/logo-katinat.webp' %}" class="logo-icon">
            KATINAT Coffee
        </div>
    </a>
    <nav class="menu">
        <a href="/store/" class="{% if request.path == '/store/' %}active{% endif %}">Trang chủ</a>
        <a href="{% url 'store:product_list' %}">Sản phẩm</a>
        <a href="/store/list/">Chi nhánh</a>
        <a href="/">Bản đồ</a>
        {% if user.is_authenticated %}
        <div class="user-menu">
            👤 {{ user.username }}
            <div class="dropdown">
                <a href="{% url 'store:change_password' %}">Đổi mật khẩu</a>

                <form method="POST" action="{% url 'store:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Đăng xuất</button>
                </form>
            </div>
        </div>
        {% else %}
            <a href="{% url 'store:login' %}" class="login-btn">Đăng nhập</a>
        {% endif %}
    </nav>
</header>

<!-- NỘI DUNG -->
{% block content %}
{% endblock %}

</body>
</html>